# Airflow core and providers
apache-airflow==2.9.2
apache-airflow-providers-docker
apache-airflow-providers-apache-kafka
apache-airflow-providers-cncf-kubernetes 

# Python packages for task execution
pyspark==3.4.3
kafka-python-ng  
google-cloud-bigquery  
python-dotenv 

