# Hive Metastore Configuration
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_DB=metastore_db
DATABASE_USER=<your_id_here>
DATABASE_PASSWORD=<your_password_here>
DB_DRIVER=postgres

# S3/MinIO Configuration
S3_BUCKET=warehouse
S3_PREFIX=hive
S3_ENDPOINT=http://minio:9000
S3_ENDPOINT_URL=http://minio:9000
S3_ACCESS_KEY=<your_id_here>
S3_SECRET_KEY=<your_password_here>
AWS_ACCESS_KEY_ID=<your_id_here>
AWS_SECRET_ACCESS_KEY=<your_password_here>

# Hive Service Configuration
SERVICE_NAME=metastore
SERVICE_OPTS=-Djavax.jdo.option.ConnectionDriverName=org.postgresql.Driver -Djavax.jdo.option.ConnectionURL=jdbc:postgresql://postgres:5432/metastore_db -Djavax.jdo.option.ConnectionUserName=<your_id_here> -Djavax.jdo.option.ConnectionPassword=<your_password_here>

# Hadoop S3 Configuration
HADOOP_CONF_fs_s3a_impl=org.apache.hadoop.fs.s3a.S3AFileSystem
HADOOP_CONF_fs_s3a_path_style_access=true
HADOOP_CONF_fs_s3a_endpoint=http://minio:9000
HADOOP_CONF_fs_s3a_access_key=<your_id_here>
HADOOP_CONF_fs_s3a_secret_key=<your_password_here>
